body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

h2 {
    text-align: center;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: #181818;
}